.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
}

.popover-box {
  position: relative;
  background-color: #fff;
  padding-top: 12px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 100;
}
