.side-image {
  display: flex;
  flex-basis: 380.32px;
  height: 581.15px;
  align-self: center;
  background-position: -46px 0;
  background-size: 468.32px 634.15px;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  margin-right: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid var(--primary-boder-color);
  border-radius: 1px;
}

.logo {
  display: flex;
  height: auto;
  margin: 36px auto 12px;
  cursor: pointer;
}

.logo-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.login-form {
  width: 100%;
}

.login-content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 10px;
}

.input-wrapper {
  margin: 0 40px 6px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 38px;
  border-radius: 3px;
  border: 1px solid var(--primary-boder-color);
  background-color: var(--hover-background-color);
}

.input-login {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 9px 0 7px 8px;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  z-index: 1;

  &.active {
    padding-top: 14px;
    padding-bottom: 2px;
  }
}

.description {
  position: absolute;
  left: 8px;
  line-height: 36px;
  font-size: 1.2rem;
  color: var(--fade-text-color);
  transform-origin: top left;
  will-change: transform;
  transform: scale(1) translateY(0);
  transition: transform ease-in 0.1s;
  user-select: none;
  z-index: 0;

  &.active {
    transform: scale(0.833333) translateY(-6px);
    transition: transform ease-out 0.1s;
  }
}

.login-btn-wrapper {
  margin: 8px 40px;
}

.login-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  margin: 10px 40px 18px;
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: var(--primary-boder-color);
}

.divider-text {
  margin: 0 18px;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--fade-text-color);
}

.facebook-login {
  margin: 8px 40px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--facebook-color);
}

.error-alert {
  text-align: center;
  margin: 10px 40px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--heart-fill);
}

.fogot-pwd {
  margin: 12px 0 0 0 !important;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--href-color);
}

.change-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63px;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid var(--primary-boder-color);
  border-radius: 1px;
}

.change-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: var(--primary-text-color);
}

.change-btn {
  color: var(--button-color) !important;
  font-weight: 400;
}

.getapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--primary-text-color);
    margin: 10px 20px 10px 20px;
  }
}

.app {
  display: flex;
  margin: 10px 0;
}

// Sign Up Part

.signin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px 0 30px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid var(--primary-boder-color);
  border-radius: 1px;
}

.slogan {
  margin: 0 40px 10px;
  line-height: 2rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--fade-text-color);
}

.signup-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.term-content {
  margin: 0 40px 10px;
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: var(--fade-text-color);

  & a {
    font-weight: 600;
    color: var(--fade-text-color) !important;
  }
}

.signup-site {
  color: #fff;
}

@media (max-width: 54.7em) {
  .side-image {
    display: none;
  }
}
