.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;

  & + .wrapper {
    margin-left: 16px;
  }

  &.disable {
    opacity: 0.6;
    pointer-events: none;
  }

  &.lightActive:active {
    opacity: 0.7;
  }

  &.darkActive:active {
    filter: brightness(70%);
  }

  &.underline:hover {
    text-decoration: underline !important;
  }
}

.primary {
  color: #fff;
  background-color: var(--button-color);
}

.border {
  min-width: 110px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  background-color: #fff;
}

.rounded {
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 9999px !important;
  background-color: #fff;
}

.text {
  color: var(--primary-text-color);
  font-weight: 500;
}

.tagName {
  color: var(--button-color);
  font-weight: 400;
}

.icon {
  font-size: 2.4rem;
  color: var(--primary-text-color);
  background-color: transparent;

  & + .icon {
    margin-left: 24px;
  }
}

//size

.small {
  min-height: 30px;
  min-width: 60px;
  padding: 0 10px;
  border-color: var(--button-color);
  border-radius: 4px;
}

.medium {
  width: 100px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 4px;
}

.larger {
  width: 100%;
  min-width: 168px;
  min-height: 48px;
  padding: 8px 16px;
  border-radius: 4px;
  border-color: var(--button-color);
  color: var(--button-color);
  font-size: 1.8rem;
  font-weight: 700;
}

//icon

.iconLeft {
  display: inline-block;
  width: 20px;
  margin-right: 6px;
  font-size: 1.6rem;
  text-align: center;
}

.iconRight {
  display: inline-block;
  width: 20px;
  margin-left: 6px;
  text-align: center;
}
