.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(100% - 40px);
  max-width: 935px;
  margin: 0 auto 30px;
  padding: 18px 20px 0;
  background-color: var(--primary-background-color);
}

.introduction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 44px;
}

.avatar-box {
  flex: 1;
  margin-right: 30px;
}

.avatar {
  display: flex;
}

.info {
  display: block;
  flex: 2;
}

.nickname-setting {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  margin-bottom: 20px;
}

.nickname {
  line-height: 30px;
  font-size: 2.8rem;
  font-weight: 300;
}

.message-btn {
  height: 30px;
  min-width: 1px;
  padding: 5px 9px;
  font-weight: 700;
  margin-left: 28px;
  span {
    line-height: 1.4rem;
  }
}

.follow-btn {
  height: 30px;
  padding: 5px 9px;
  font-weight: 700;
  margin-left: 28px;

  & span {
    line-height: 1.4rem;
    padding: 0 16px;
  }
}

.suggest-btn {
  min-width: 34px;
  height: 30px;
  padding: 5px 9px;
  margin-left: 8px !important;
}

.option-btn {
  font-size: 2rem;
  padding: 10.5px 16px;
  margin-left: 5px !important;
}

.counter {
  display: flex;
  margin-bottom: 20px;

  & b {
    font-weight: 600;
  }
}

.post-count,
.follower-count,
.following-count {
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.follower-count,
.following-count {
  margin-left: 40px !important;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  line-height: 24px;
  font-weight: 700;
}

.gender,
.website,
.bio {
  font-size: 1.6rem;
  font-weight: 400;
}

.website {
  color: var(--href-color) !important;
}

.status {
}

.stories {
}

.navbar {
}

.content {
}
