.container {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-background-color);
  z-index: -1;
}

.content {
  display: flex;
  width: 470px;
  margin-right: 32px;
}

.sidebar {
  display: flex;
  width: 319px;
  margin-right: 16px;
}
