@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary-text-color: #262626;
  --primary-background-color: #fafafa;
  --primary-boder-color: #dbdbdb;
  --button-color: #0095f6;
  --button-active-color: #4cb5f9;
  --fade-text-color: #8e8e8e;
  --hover-background-color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--primary-text-color);
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

a[href] {
  color: var(--primary-text-color);
  text-decoration: none;
}
